body {
  background-color: #ffefa0;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #ffd57e;
  font-size: 8rem;
  color: #fca652;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #ac4b1c;
  border-width: 5px;

}

h3 {
  margin: 30px;
  font-size: 2rem;
  color: #fca652;
}

footer {
  margin-top: 5%;
  color: #ffd57e;
  text-align: center;

}
